.order-success {
    padding: 0;
}

.order-success__wrapper {
    position: relative;
    display: block;
    top: -208px;
    z-index: 500;
    background-color: transparent;
}

.order-success__title {
    margin-bottom: 25px;
    font-size: 72px;
    line-height: 84.38px;
    font-weight: 700;
    color: white;
}

.order-success__details {
    width: 100%;
    background-color: white;
    border: 1px solid var(--light-gray-color);
    box-shadow: 0px 2px 2px 0px #00000040;
}

.order-success__info {
    padding: 60px 52px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray-color);
}

.order-success__price {
    font-size: 36px;
    line-height: 42.19px;
    color: var(--gray-color);
}

.order-success__price-amount {
    font-weight: 700;
    color: var(--bg-color-secondary);
}

.order-success__name {
    font-size: 36px;
    line-height: 42.19px;
    font-weight: 700;
    color: var(--bg-color-secondary);
}

.order-success__instructions {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    background-color: #F4F3F6;
}

.order-success__instruction {
    max-width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 21.09px;
}

.order-success__instruction:not(:last-child) {
    margin-right: 120px;
}

.order-success__instruction-svg {
    margin-bottom: 11px;
}

.order-success__instruction-span {
    font-weight: 500;
}

.order-success__confirmation {
    padding: 95px 0;
    max-width: 1088px;
    margin: 0 auto;
}

.order-success__user {
    margin-bottom: 51px;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 42.19px;
}

.order-success__contact {
    margin-bottom: 55px;
}

.order-success__thanks {
    font-weight: 700;
}

.order-success__last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 83px;
    background-color: var(--orange-color);
}

.order-success__feedback {
    display: flex;
    align-items: center;
}

.order-success__feedback-text {
    display: block;
    margin-right: 20px;
}

.order-success__feedback-stars {
    display: flex;
}

.order-success__feedback-star:not(:last-child) {
    margin-right: 19px;
}

.order-success__back-btn {
    padding: 17px 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid var(--bg-color-secondary);
}