.order__details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

.order .ticket {
	border: none;
	box-shadow: none;
}

.order__block {
	border: 1px solid var(--light-gray-color);
	width: 100%;
	box-shadow: 0 2px 2px 0 #0000004d;
	background-color: #fff;
}

.order__block:not(:last-child) {
	margin-bottom: 45px;
}

.order__block-title {
	border-bottom: 1px solid var(--gray-color);
	padding: 32px;
	width: 100%;
	font-size: 30px;
	line-height: 35.16px;
}

.order__block-wrapper {
	display: flex;
	justify-content: space-between;
}

.order__block-btn-wrapper {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: flex-end;
	border-left: 1px solid var(--text-color-light);
	padding: 25px 23px;
	width: 270px;
}

.order__total {
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
	font-size: 30px;
	line-height: 35.16px;
}

.order__total-price {
	margin-right: 5px;
	margin-left: auto;
	font-weight: 700;
}

.order__total-price-symbol {
	font-weight: 400;
	color: var(--gray-color);
}

.order__item-btn {
	border: 1px solid var(--color-primary);
	border-radius: 5px;
	padding: 5px 50px;
	font-weight: 700;
}

.order__confirm-btn {
	border-radius: 5px;
	padding: 17px 58px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--orange-color);
}

.order__block-content {
	padding: 44px 31px 76px;
	width: 100%;
	text-transform: capitalize;
}

.order__passengers {
	flex-grow: 1;
}

.order__passenger {
	display: flex;
	padding: 30px;
}

.order__passenger:not(:last-child) {
	border-bottom: 1px solid var(--text-color-light);
}

.order__passenger-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 45px;
	width: 85px;
	font-size: 18px;
	line-height: 21.09px;
}

.order__passenger-type-svg {
	margin-bottom: 17px;
}

.order__passenger-fullname {
	display: block;
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 21.09px;
	text-transform: capitalize;
}

.order__passenger-info-details {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 21.09px;
	color: var(--gray-color);
}

.order__passenger-details-item:not(:last-child) {
	margin-bottom: 5px;
}

.order__error-wrapper {
	padding: 10px 0;
	color: var(--gray-color);
}
