.process {
	position: relative;
	z-index: 1;
	padding: 69px 0 90px;
	box-shadow: 0 4px 4px 0;
	color: #fff;
	background-image: linear-gradient(to right, rgba(255, 168, 0, 0.6) 0 100%),
		url("/src/img/process.png");
	background-position: top 20% center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--orange-color);
}

.process::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.15);
}

.process__title-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 97px;
}

.process__link {
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 15px 76px;
	font-weight: 700;
}

.process__link:hover {
	border: 1px solid var(--yellow-color);
	color: var(--color-primary);
	background-color: var(--yellow-color);
}

.process__link:focus-visible {
	border: 1px solid #fff;
	color: var(--color-primary);
	background-color: #fff;
}

.process__link:active {
	border: 1px solid #fff;
	color: var(--color-primary);
	background-color: #fff;
}

.process__list {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 910px;
}

.process__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 226px;
	text-align: center;
}

.process__svg {
	margin-bottom: 34px;
}
