.seats__title {
	margin-bottom: 48px;
	font-weight: 500;
	font-size: 30px;
	line-height: 35.16px;
}

.seats__results {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.seats__train {
	margin-bottom: 102px;
}

.seats__train-route {
	position: relative;
	border: 1px solid var(--light-gray-color);
	box-shadow: 0 2px 2px 0 #00000040;
	background-color: #fff;
}

.seats__train-route:first-child {
	margin-bottom: 29px;
}

.seats__train-route_arrival .seats__train-back-wrapper {
	justify-content: flex-end;
}

.seats__train-route_departure .seats__train-back-wrapper {
	justify-content: flex-start;
}

.seats__coach-total-wrapper {
	position: absolute;
	right: 38px;
	bottom: 32px;
	font-weight: 700;
	color: var(--orange-color);
}

.seats__coach-total-symbol {
	font-weight: 400;
	color: var(--gray-color);
}

.seats__train-back-wrapper {
	display: flex;
	padding: 36px 19px 32px;
}

.seats__train-back-svg {
	margin-right: 10px;
}

.seats__train-back-btn {
	display: block;
	border: 2px solid var(--color-primary);
	border-radius: 5px;
	padding: 16px 34px 15px 33px;
	font-weight: 700;
}

.seats__train-route-details {
	position: relative;
	display: flex;
	align-items: center;
}

.seats__train-route-details::after {
	content: "";
	position: absolute;
	right: -45px;
	width: 1px;
	height: calc(100% + 33px);
	background-color: #fff;
}

.seats__train-details {
	display: flex;
	justify-content: space-between;
	overflow-y: hidden;
	padding: 17px 35px 16px;
	background-color: var(--white-color);
}

.seats__train-route-arrow-svg {
	margin-right: 35px;
}

.seats__train-route-item {
	display: flex;
	flex-direction: column;
}

.seats__train-route-item:first-child {
	margin-right: 35px;
}

.seats__train-route-time {
	font-weight: 700;
	color: #000;
}

.seats__train-route-city {
	font-size: 18px;
	line-height: 21.09px;
	text-transform: capitalize;
	color: #000;
}

.seats__train-route-station {
	font-size: 16px;
	line-height: 18.75px;
	color: #808080;
}

.seats__train-time {
	display: flex;
	align-items: center;
}

.seats__train-time-svg {
	margin-right: 10px;
}

.seats__train-time-text {
	font-size: 18px;
	line-height: 21.09px;
	color: #000;
}

.seats__train-info {
	position: relative;
	display: flex;
	align-items: center;
}

.seats__train-info::after {
	content: "";
	position: absolute;
	right: -35px;
	width: 1px;
	height: calc(100% + 33px);
	background-color: #fff;
}

.seats__train-svg {
	margin-right: 27px;
}

.seats__train-name {
	margin-bottom: 5px;
	max-width: 150px;
	font-weight: 700;
	cursor: var(--bg-color-secondary);
}

.seats__train-cities {
	font-size: 16px;
	line-height: 18.75px;
	text-transform: capitalize;
}

.seats__tickets-amount-title {
	margin-bottom: 13px;
	padding-left: 19px;
	font-weight: 700;
	font-size: 30px;
	line-height: 35.16px;
}

.seats__tickets-amount {
	border-bottom: 1px dotted var(--light-gray-color);
	padding: 40px 0 49px;
}

.seats__tickets-amount-list {
	display: flex;
	justify-content: space-between;
}

.seats__tickets-amount-input {
	margin-bottom: 23px;
	border: 1px solid var(--gray-color);
	border-radius: 5px;
	padding: 15px;
	width: 240px;
	font-size: 18px;
	line-height: 21.09px;
	background-color: #fff;
}

.seats__tickets-amount-item {
	padding: 20px 41px 20px 36px;
	color: var(--orange-color);
	cursor: pointer;
}

.seats__tickets-amount-item--active .seats__tickets-amount-text {
	color: #000;
}

.seats__tickets-amount-item--active {
	box-shadow: 0 2px 2px 0 #00000040;
	background-color: var(--white-color);
}

.seats__tickets-amount-text {
	font-size: 16px;
	line-height: 18.75px;
	color: var(--gray-color);
	pointer-events: none;
	user-select: none;
}

.seats__coach-types {
	padding: 27px 144.5px 26px 35px;
}

.seats__coach-types-title {
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 30px;
	line-height: 35.16px;
}

.seats__coach-types-list {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.seats__coach-types-item {
	width: 98px;
}

.seats__coach-types-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 68px;
	width: 100%;
	color: var(--gray-color);
	background-position: top 0% center;
	background-size: auto 50px;
	background-repeat: no-repeat;
}

.seats__coach-types-svg {
	margin-bottom: 18px;
}

.seats__coach-types-button_first {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='57' height='50' viewBox='0 0 57 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2258 0L34.8606 19.0776H56.4516L39.0213 30.9224L45.6561 50L28.2258 38.26L10.7955 50L17.4303 30.9224L0 19.0776H21.5911L28.2258 0Z' fill='%23C4C4C4' /%3E%3C/svg%3E");
}

.seats__coach-types-button_first.seats__coach-types-button--active {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='57' height='50' viewBox='0 0 57 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2258 0L34.8606 19.0776H56.4516L39.0213 30.9224L45.6561 50L28.2258 38.26L10.7955 50L17.4303 30.9224L0 19.0776H21.5911L28.2258 0Z' fill='%23FFA800' /%3E%3C/svg%3E");
}

.seats__coach-types-button_second {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.51465 0H45.4854C47.9683 0 50 2.04541 50 4.54541V45.4546C50 47.9546 47.9683 50 45.4854 50H4.51465C2.03174 50 0 47.9546 0 45.4546V4.54541C0 2.04541 2.03174 0 4.51465 0ZM38.6006 6.25C37.3589 6.25 36.3433 7.27295 36.3433 8.52295V13.7061H44.9775V8.52295C44.9775 7.27295 43.9614 6.25 42.7202 6.25H38.6006ZM44.9775 14.7061H36.3433V29.5454C36.3433 30.7954 37.3589 31.8184 38.6006 31.8184H42.7202C43.9614 31.8184 44.9775 30.7954 44.9775 29.5454V14.7061ZM13.3745 13.7061V8.75C13.3745 7.38623 12.2461 6.25 10.8916 6.25H7.22363C5.86914 6.25 4.74023 7.38623 4.74023 8.75V13.7061H13.3745ZM4.74023 14.7061H13.3745V29.375C13.3745 30.7388 12.2461 31.875 10.8916 31.875H7.22363C5.86914 31.875 4.74023 30.7388 4.74023 29.375V14.7061ZM44.8081 49.2046C47.1782 49.2046 49.1533 47.2729 49.1533 44.8296V36.7046H0.84668V44.8296C0.84668 47.2158 2.76514 49.2046 5.19189 49.2046H44.8081Z' fill='%23C4C4C4' /%3E%3C/svg%3E");
}

.seats__coach-types-button_second.seats__coach-types-button--active {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.51465 0H45.4854C47.9683 0 50 2.04541 50 4.54541V45.4546C50 47.9546 47.9683 50 45.4854 50H4.51465C2.03174 50 0 47.9546 0 45.4546V4.54541C0 2.04541 2.03174 0 4.51465 0ZM38.6006 6.25C37.3589 6.25 36.3433 7.27295 36.3433 8.52295V13.7061H44.9775V8.52295C44.9775 7.27295 43.9614 6.25 42.7202 6.25H38.6006ZM44.9775 14.7061H36.3433V29.5454C36.3433 30.7954 37.3589 31.8184 38.6006 31.8184H42.7202C43.9614 31.8184 44.9775 30.7954 44.9775 29.5454V14.7061ZM13.3745 13.7061V8.75C13.3745 7.38623 12.2461 6.25 10.8916 6.25H7.22363C5.86914 6.25 4.74023 7.38623 4.74023 8.75V13.7061H13.3745ZM4.74023 14.7061H13.3745V29.375C13.3745 30.7388 12.2461 31.875 10.8916 31.875H7.22363C5.86914 31.875 4.74023 30.7388 4.74023 29.375V14.7061ZM44.8081 49.2046C47.1782 49.2046 49.1533 47.2729 49.1533 44.8296V36.7046H0.84668V44.8296C0.84668 47.2158 2.76514 49.2046 5.19189 49.2046H44.8081Z' fill='%23FFA800' /%3E%3C/svg%3E");
}

.seats__coach-types-button_third {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M45.4854 0H4.51465C2.03174 0 0 2.0293 0 4.50977V45.4902C0 47.9707 2.03174 50 4.51465 50H17.6475H18.6475H45.4854C47.9683 50 50 47.9707 50 45.4902V4.50977C50 2.0293 47.9683 0 45.4854 0ZM18.6475 47.1816H35.1582C36.3994 47.1816 37.4155 46.167 37.4155 44.9268H37.3589V40.8682C37.3589 39.6279 36.3433 38.6133 35.1016 38.6133H18.6475V47.1816ZM17.6475 38.6133H14.8418C13.6006 38.6133 12.5845 39.6279 12.5845 40.8682V44.9268C12.5845 46.167 13.6006 47.1816 14.8418 47.1816H17.6475V38.6133ZM6.60254 29.0869C5.64355 29.0869 4.85352 28.2979 4.85352 27.3394V11.7646H13.4312V27.3394C13.4312 28.2979 12.6411 29.0869 11.6816 29.0869H6.60254ZM4.85352 6.08789V10.7646H13.4312V6.08789C13.4312 5.12988 12.6411 4.34033 11.6816 4.34033H6.60254C5.64355 4.34033 4.85352 5.12988 4.85352 6.08789ZM36.0044 27.2832V11.7646H44.6387V27.2832C44.6387 28.2979 43.7925 29.1431 42.7764 29.1431H37.8667C36.8511 29.1431 36.0044 28.2979 36.0044 27.2832ZM36.0044 10.7646H44.6387V6.14453C44.6387 5.12988 43.7925 4.28418 42.7764 4.28418H37.8667C36.8511 4.28418 36.0044 5.12988 36.0044 6.14453V10.7646Z' fill='%23C4C4C4' /%3E%3C/svg%3E");
}

.seats__coach-types-button_third.seats__coach-types-button--active {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M45.4854 0H4.51465C2.03174 0 0 2.0293 0 4.50977V45.4902C0 47.9707 2.03174 50 4.51465 50H17.6475H18.6475H45.4854C47.9683 50 50 47.9707 50 45.4902V4.50977C50 2.0293 47.9683 0 45.4854 0ZM18.6475 47.1816H35.1582C36.3994 47.1816 37.4155 46.167 37.4155 44.9268H37.3589V40.8682C37.3589 39.6279 36.3433 38.6133 35.1016 38.6133H18.6475V47.1816ZM17.6475 38.6133H14.8418C13.6006 38.6133 12.5845 39.6279 12.5845 40.8682V44.9268C12.5845 46.167 13.6006 47.1816 14.8418 47.1816H17.6475V38.6133ZM6.60254 29.0869C5.64355 29.0869 4.85352 28.2979 4.85352 27.3394V11.7646H13.4312V27.3394C13.4312 28.2979 12.6411 29.0869 11.6816 29.0869H6.60254ZM4.85352 6.08789V10.7646H13.4312V6.08789C13.4312 5.12988 12.6411 4.34033 11.6816 4.34033H6.60254C5.64355 4.34033 4.85352 5.12988 4.85352 6.08789ZM36.0044 27.2832V11.7646H44.6387V27.2832C44.6387 28.2979 43.7925 29.1431 42.7764 29.1431H37.8667C36.8511 29.1431 36.0044 28.2979 36.0044 27.2832ZM36.0044 10.7646H44.6387V6.14453C44.6387 5.12988 43.7925 4.28418 42.7764 4.28418H37.8667C36.8511 4.28418 36.0044 5.12988 36.0044 6.14453V10.7646Z' fill='%23FFA800' /%3E%3C/svg%3E");
}

.seats__coach-types-button_fourth {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='31' height='50' viewBox='0 0 31 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 19.0289C0.307988 18.6378 0.559979 18.1523 0.951964 17.8691C2.23992 16.952 3.90585 17.5859 4.28384 19.1368C4.61983 20.5394 4.89982 21.9554 5.19381 23.3714C5.71179 25.8124 6.21577 28.2669 6.74775 30.7079C7.44772 33.8771 9.58964 35.5494 12.9635 35.5629C15.3714 35.5764 17.7653 35.5494 20.1732 35.5764C21.5872 35.5898 22.3852 36.2102 22.6092 37.397C22.8331 38.6782 21.9232 39.8649 20.5792 39.8784C17.4573 39.9054 14.3355 39.9863 11.2136 39.8515C7.37772 39.6896 3.80786 36.6418 2.81389 32.7847C2.16992 30.2628 1.69394 27.7005 1.13396 25.1651C0.769971 23.4793 0.377986 21.807 0 20.1213C0 19.7572 0 19.393 0 19.0289Z' fill='%23C4C4C4' /%3E%3Cpath d='M9.87021 0C10.9762 0.229264 11.9981 0.579903 12.8801 1.30815C14.714 2.8186 15.274 5.58325 14.126 7.63314C12.8801 9.87183 10.2622 10.9777 7.86828 10.2899C5.48837 9.60211 4.06042 7.94332 3.87843 5.44839C3.73844 3.53336 4.8024 1.51044 7.01431 0.512472C7.51829 0.283208 8.07827 0.175319 8.62425 0C9.03024 0 9.45022 0 9.87021 0Z' fill='%23C4C4C4' /%3E%3Cpath d='M24.667 34.5108C24.331 34.5108 24.0931 34.5108 23.8691 34.5108C20.2852 34.5108 16.7013 34.5243 13.1035 34.5108C10.3596 34.4973 8.51164 33.0408 7.97966 30.4515C7.05569 26.055 6.14572 21.6586 5.22176 17.2621C4.28379 12.7982 8.44164 10.6404 11.4235 11.571C13.3275 12.1643 14.3074 13.5399 14.6994 15.3336C15.4834 18.9344 16.2253 22.5352 16.9533 26.1359C17.0793 26.7833 17.2893 27.026 18.0173 27.0125C20.9292 26.9856 23.8411 26.9856 26.753 27.08C28.7269 27.1339 30.2528 28.6713 30.3928 30.5729C30.4208 30.8965 30.4348 31.2202 30.4348 31.5439C30.4348 36.5472 30.4348 41.5371 30.4348 46.5404C30.4348 46.9855 30.4348 47.444 30.3368 47.8755C30.0288 49.2376 28.7969 50.0873 27.3549 49.9929C25.941 49.8985 24.835 48.86 24.695 47.4845C24.667 47.1608 24.667 46.8371 24.667 46.5135C24.667 42.7778 24.667 39.0287 24.667 35.293C24.667 35.0637 24.667 34.821 24.667 34.5108Z' fill='%23C4C4C4' /%3E%3C/svg%3E");
}

.seats__coach-types-button_fourth.seats__coach-types-button--active {
	background-image: url("data:image/svg+xml,%3Csvg className='seats__coach-types-svg' width='31' height='50' viewBox='0 0 31 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 19.0289C0.307988 18.6378 0.559979 18.1523 0.951964 17.8691C2.23992 16.952 3.90585 17.5859 4.28384 19.1368C4.61983 20.5394 4.89982 21.9554 5.19381 23.3714C5.71179 25.8124 6.21577 28.2669 6.74775 30.7079C7.44772 33.8771 9.58964 35.5494 12.9635 35.5629C15.3714 35.5764 17.7653 35.5494 20.1732 35.5764C21.5872 35.5898 22.3852 36.2102 22.6092 37.397C22.8331 38.6782 21.9232 39.8649 20.5792 39.8784C17.4573 39.9054 14.3355 39.9863 11.2136 39.8515C7.37772 39.6896 3.80786 36.6418 2.81389 32.7847C2.16992 30.2628 1.69394 27.7005 1.13396 25.1651C0.769971 23.4793 0.377986 21.807 0 20.1213C0 19.7572 0 19.393 0 19.0289Z' fill='%23FFA800' /%3E%3Cpath d='M9.87021 0C10.9762 0.229264 11.9981 0.579903 12.8801 1.30815C14.714 2.8186 15.274 5.58325 14.126 7.63314C12.8801 9.87183 10.2622 10.9777 7.86828 10.2899C5.48837 9.60211 4.06042 7.94332 3.87843 5.44839C3.73844 3.53336 4.8024 1.51044 7.01431 0.512472C7.51829 0.283208 8.07827 0.175319 8.62425 0C9.03024 0 9.45022 0 9.87021 0Z' fill='%23FFA800' /%3E%3Cpath d='M24.667 34.5108C24.331 34.5108 24.0931 34.5108 23.8691 34.5108C20.2852 34.5108 16.7013 34.5243 13.1035 34.5108C10.3596 34.4973 8.51164 33.0408 7.97966 30.4515C7.05569 26.055 6.14572 21.6586 5.22176 17.2621C4.28379 12.7982 8.44164 10.6404 11.4235 11.571C13.3275 12.1643 14.3074 13.5399 14.6994 15.3336C15.4834 18.9344 16.2253 22.5352 16.9533 26.1359C17.0793 26.7833 17.2893 27.026 18.0173 27.0125C20.9292 26.9856 23.8411 26.9856 26.753 27.08C28.7269 27.1339 30.2528 28.6713 30.3928 30.5729C30.4208 30.8965 30.4348 31.2202 30.4348 31.5439C30.4348 36.5472 30.4348 41.5371 30.4348 46.5404C30.4348 46.9855 30.4348 47.444 30.3368 47.8755C30.0288 49.2376 28.7969 50.0873 27.3549 49.9929C25.941 49.8985 24.835 48.86 24.695 47.4845C24.667 47.1608 24.667 46.8371 24.667 46.5135C24.667 42.7778 24.667 39.0287 24.667 35.293C24.667 35.0637 24.667 34.821 24.667 34.5108Z' fill='%23FFA800' /%3E%3C/svg%3E");
}

.seats__coach-types-button--active {
	color: var(--orange-color);
}

.seats__coach-names {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 34px 3px 13px;
	font-size: 16px;
	line-height: 18.75px;
	background-color: #ffa80070;
}

.seats__coach-names-list {
	display: flex;
	align-items: center;
}

.seats__coach-name {
	display: block;
	font-weight: 700;
	color: #000;
}

.seats__coach-name--active {
	color: #fff;
}

.seats__coach-name:not(:last-child) {
	margin-right: 6px;
}

.seats__coach-info {
	display: flex;
	justify-content: space-between;
}

.seats__coach-info-more {
	display: flex;
	justify-content: space-between;
	padding: 33px 42px 17px 85px;
	width: 100%;
}

.seats__coach-info-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 30px 59px 32px 30px;
	background-color: #ffa80070;
}

.seats__coach-details-name-number {
	font-weight: 700;
	font-size: 72px;
	line-height: 84.38px;
}

.seats__coach-amount-block {
	display: flex;
	flex-direction: column;
}

.seats__coach-seats-amount:not(:last-child) {
	margin-bottom: 21px;
}

.seats__coach-price {
	display: flex;
	flex-direction: column;
}

.seats__coach-seats-price-number:not(:last-child) {
	margin-bottom: 21px;
}

.seats__coach-seats-price-number {
	font-weight: 700;
}

.seats__coach-seats-price-number span {
	font-weight: 400;
	color: var(--gray-color);
}

.seats__coach-seats-price-text {
	margin-bottom: 19px;
	font-size: 18px;
	line-height: 21.09px;
	color: var(--gray-color);
}

.seats__coach-service {
	max-width: 183px;
}

.seats__coach-service-list {
	display: flex;
	justify-content: space-between;
}

.seats__coach-seats-amount span {
	font-weight: 700;
}

.seats__coach-seats-amount_total {
	font-size: 18px;
	line-height: 21.09px;
	color: var(--gray-color);
}

.seats__coach-seats-amount_total span {
	font-weight: 400;
	color: #000;
}

.seats__coach-details {
	display: flex;
	flex-direction: column;
}

.seats__coach-demand-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 0 42px;
}

.seats__coach-demand {
	border-radius: 5px;
	padding: 16px 13px 11px 16px;
	max-width: 199px;
	font-size: 16px;
	line-height: 18.75px;
	background-color: #f3f3f3;
}

.seats__coach-seats {
	position: relative;
	padding: 0 18px 73px 20px;
}

.seats__coach:not(:last-child) {
	border-bottom: 1px dotted var(--light-gray-color);
}

.seats__coach:not(:first-child) {
	padding-top: 33px;
}

.seats__coach-service-name {
	margin-bottom: 17px;
}

.seats__coach-seats-service-text {
	font-size: 18px;
	line-height: 21.09px;
	color: var(--gray-color);
}

.seats__coach-seats-service-text:first-child {
	margin-right: 8px;
}

.seats__coach-seats-service-text_abbr {
	text-transform: uppercase;
	color: var(--light-gray-color);
}

.seats__coach-service-item {
	position: relative;
}

.seats__coach-service-tooltip {
	position: absolute;
	left: 50%;
	top: calc(100% + 6px);
	border-radius: 5px;
	padding: 8px 10px;
	box-shadow: 0 4px 4px 0 #00000040;
	font-size: 16px;
	line-height: 18.75px;
	text-align: center;
	background-color: #f5f4f6;
	transform: translateX(-50%);
	pointer-events: none;
	user-select: none;
}

.seats__coach-service-tooltip::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 100%;
	border-style: solid;
	border-width: 4px;
	border-color: #f5f4f6 transparent transparent;
	transform: translateX(-50%) rotate(180deg);
}

.seats__coach-service-btn {
	display: flex;
	align-items: center;
	border: 1px solid var(--color-primary);
	border-radius: 5px;
	padding: 8px;
	width: 36px;
	height: 34px;
}

.seats__coach-service-btn--active {
	border: 1px solid var(--orange-color);
	background-color: var(--orange-color);
}

.seats__coach-service-btn--active svg path {
	fill: #fff;
}

.seats__coach-service-btn:disabled {
	border: 1px solid #fcdc9d;
	background-color: #fcdc9d;
	cursor: not-allowed;
}

.seats__coach-service-btn:disabled svg path {
	fill: #928f94;
}

.seats__coach-service-btn:hover {
	border: 1px solid var(--color-primary);
	background-color: var(--orange-color);
}

.seats__coach-service-btn:hover svg path {
	fill: var(--color-primary);
}

.seats__coach-service-btn:disabled:hover {
	border: 1px solid #fcdc9d;
	background-color: #fcdc9d;
	cursor: not-allowed;
}

.seats__coach-service-btn:disabled:hover svg path {
	fill: #928f94;
}

.seats__coach-seats-number {
	position: absolute;
	left: 6.3%;
	top: 0;
	padding: 3px 8px;
	font-weight: 700;
	font-size: 13px;
	line-height: 18.75px;
	color: #fff;
	background-color: var(--color-primary);
}

.seats__loading-wrapper {
	padding: 40px 45px;
}

.seats__error-wrapper {
	padding: 40px 45px;
}

.seats__coach-seats-list {
	position: absolute;
}

.seats__coach-seats-btn {
	display: flex;
	justify-content: center;
	border-radius: 0;
	padding: 3px;
	font-weight: 700;
	font-size: 13px;
	line-height: 18.75px;
	background-color: #f7f6f6;
}

.seats__coach-seats-btn:disabled {
	color: #fff;
	background-color: var(--light-gray-color);
}

.seats__coach-seats-btn--active {
	outline: 2px solid var(--orange-color);
	outline-offset: -2px;
}

.seats__coach-seats-list_first {
	left: 15.9%;
	top: 28.5px;
	display: flex;
	justify-content: space-between;
	height: 100%;
	max-height: 58px;
}

.seats__coach-seats-list_first .seats__coach-seats-btn {
	align-items: flex-end;
	width: 26.1px;
}

.seats__coach-seats-list_first .seats__coach-seats-btn_first {
	margin-right: 35px;
}

.seats__coach-seats-list_first .seats__coach-seats-column {
	display: flex;
	margin-right: 30.5px;
}

.seats__coach-seats-list_first
	.seats__coach-seats-column
	.seats__coach-seats-btn {
	margin-right: 3px;
}

.seats__coach-seats-list_second {
	left: 16%;
	top: 28.5px;
	display: flex;
	justify-content: space-between;
	height: 100%;
	max-height: 58px;
}

.seats__coach-seats-list_second .seats__coach-seats-column {
	display: flex;
	flex-direction: column-reverse;
}

.seats__coach-seats-list_second .seats__coach-seats-column:nth-child(even) {
	margin-right: 3.2px;
}

.seats__coach-seats-list_second .seats__coach-seats-column:nth-child(odd) {
	margin-right: 33px;
}

.seats__coach-seats-list_second .seats__coach-seats-btn {
	align-items: center;
	width: 26.35px;
	height: 28.8px;
}

.seats__coach-seats-list_third {
	left: 16%;
	top: 28.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	max-height: 107.7px;
}

.seats__coach-seats-main {
	display: flex;
}

.seats__coach-seats-main .seats__coach-seats-column {
	display: flex;
	flex-direction: column-reverse;
}

.seats__coach-seats-side {
	display: flex;
}

.seats__coach-seats-side .seats__coach-seats-column {
	display: flex;
}

.seats__coach-seats-column_side:not(:last-child) {
	margin-right: 3px;
}

.seats__coach-seats-column_side .seats__coach-seats-btn {
	width: 42.9px;
	height: 23.5px;
}

.seats__coach-seats-column_main {
	display: flex;
	flex-direction: column-reverse;
}

.seats__coach-seats-column_main:nth-child(even) {
	margin-right: 3.2px;
}

.seats__coach-seats-column_main:nth-child(odd) {
	margin-right: 33px;
}

.seats__coach-seats-column_main .seats__coach-seats-btn {
	align-items: center;
	width: 26.35px;
	height: 31.5px;
}

.seats__coach-seats-list_fourth {
	left: 17.15%;
	top: 32.9px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	max-height: 99.6px;
}

.seats__coach-seats-list_fourth .seats__coach-seats-btn {
	align-items: center;
	width: 26.4px;
	height: 18.2px;
}

.seats__coach-seats-list_fourth .seats__coach-seats-column {
	display: flex;
	flex-direction: column-reverse;
}

.seats__coach-seats-list_fourth .seats__coach-seats-btn:not(:first-child) {
	margin-bottom: 3px;
}

.seats__coach-seats-right-side {
	display: flex;
}

.seats__coach-seats-right-side .seats__coach-seats-column:not(:last-child) {
	margin-right: 17.3px;
}

.seats__coach-seats-left-side {
	display: flex;
	align-items: end;
}

.seats__coach-seats-left-side .seats__coach-seats-btn_first {
	margin-right: 17.3px;
}

.seats__coach-seats-left-side .seats__coach-seats-column {
	margin-right: 17.3px;
}

.seats__coach-no-seats {
	padding: 10px 35px 30px;
}
