.footer {
	color: var(--text-color-light);
	background-color: var(--bg-color-primary);
}

.footer__top {
	padding: 49px 0 52px;
}

.footer__top-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1228px;
}

.footer__subscription-socials {
	width: 100%;
	max-width: 650px;
}

.footer__contacts {
	font-style: normal;
}

.footer__title {
	margin-bottom: 30px;
}

.footer__contacts-item:not(:last-child) {
	margin-bottom: 27px;
}

.footer__contacts-link {
	display: flex;
	align-items: flex-start;
}

.footer__contacts-svg {
	margin-right: 26px;
}

.footer__subscription {
	margin-bottom: 44px;
}

.footer__subscription-form {
	display: flex;
	align-items: flex-end;
	width: 100%;
}

.footer__subscription-label {
	display: block;
	margin-right: 33px;
	width: 100%;
}

.footer__subscription-label-text {
	display: block;
	margin-bottom: 17px;
}

.footer__subscription-input {
	padding: 17px 21px;
	width: 100%;
	max-width: 447px;
}

.footer__subscription-btn {
	border: 1px #fff solid;
	padding: 17px 15px;
	text-transform: uppercase;
}

.footer__subscription-btn:hover {
	border: 1px solid var(--yellow-color);
	color: var(--color-primary);
	background-color: var(--yellow-color);
}

.footer__subscription-btn:focus-visible {
	border: 1px solid #fff;
	color: var(--color-primary);
	background-color: #fff;
}

.footer__subscription-btn:active {
	border: 1px solid #fff;
	color: var(--color-primary);
	background-color: #fff;
}

.footer__socials-list {
	display: flex;
	flex-wrap: wrap;
}

.footer__socials-item:not(:last-child) {
	margin-right: 48px;
}

.footer__socials-link:hover svg path {
	fill: var(--yellow-color);
}

.footer__socials-link:focus-visible svg path {
	fill: var(--yellow-color);
}

.footer__socials-link:active svg path {
	fill: var(--yellow-color);
}

.footer__bottom-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px var(--text-color-light) solid;
	padding: 26px 0 34px;
}

.footer__logo {
	font-weight: 900;
	font-size: 36px;
	line-height: 42.19px;
	color: var(--text-color-light);
}

.footer__bottom-text {
	font-weight: 300;
}

.footer__subscription-message {
	padding: 20px 0;
}
