.payment__form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

.payment__form-wrapper {
	position: relative;
	margin-bottom: 116px;
	border: 1px solid var(--light-gray-color);
	width: 100%;
	box-shadow: 0 2px 2px 0 #00000040;
	background-color: #fff;
}

.payment__form-title {
	border-bottom: 1px dotted var(--gray-color);
	padding: 34px 35px;
	width: 100%;
	font-size: 30px;
	line-height: 35.16px;
	background-color: #f9f9f9;
}

.payment__form-title:last-of-type {
	border-top: 1px dotted var(--gray-color);
}

.payment__submit-btn {
	padding: 17px 57px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--orange-color);
}

.payment__method {
	padding: 50px 36px 82px;
}

.payment__method:not(:last-child) {
	border-bottom: 1px dotted var(--gray-color);
}

.payment__form-info {
	padding: 30px 36px 88px;
}

.payment__radio_online {
	margin-bottom: 30px;
}

.payment__method-types {
	display: flex;
	justify-content: flex-start;
}

.payment__method-type {
	font-weight: 700;
}

.payment__method-type:not(:last-child) {
	margin-right: 56px;
}

.payment__form-full-name {
	display: flex;
	justify-content: space-between;
	margin-bottom: 54px;
}

.payment__form-full-name .input {
	width: 100%;
	max-width: 280px;
}

.payment__form-full-name .label:not(:last-child) {
	margin-right: 25px;
}

.payment__form-label_tel {
	margin-bottom: 38px;
}
