@import "css/normalize.css";
@import "css/fonts.css";

:root {
	--color-primary: #292929;
	--gray-color: #928f94;
	--light-gray-color: #c4c4c4;
	--bg-color-primary: #2d2b2f;
	--bg-color-secondary: #3e3c41;
	--text-color-light: #e5e5e5;
	--orange-color: #ffa800;
	--yellow-color: #ffca62;
	--white-color: #f7f5f9;
	--swiper-theme-color: #c4c4c4;
	--swiper-pagination-bullet-inactive-color: #e5e5e5;
	--swiper-pagination-bullet-height: 19px;
	--swiper-pagination-bullet-width: 19px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
svg {
	max-width: 100%;
}
