.progress {
	overflow-y: hidden;
	color: #fff;
	background-color: var(--bg-color-secondary);
}

.progress__list {
	display: flex;
	justify-content: center;
}

.progress__item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 22px 60px 21px 72px;
	font-weight: 700;
	font-size: 30px;
	font-size: 30px;
	line-height: 35.16px;
}

.progress__item:nth-child(1) {
	flex-grow: 1;
	justify-content: flex-end;
}

.progress__item:nth-child(4) {
	flex-grow: 1;
}

.progress__item::before {
	margin-right: 21px;
	border: 3px solid #fff;
	border-radius: 100px;
	padding: 4px 14px;
	font-weight: 700;
	font-size: 36px;
	line-height: 42.19px;
	text-align: center;
}

.progress__item:nth-child(1)::before {
	content: "1";
}

.progress__item:nth-child(2)::before {
	content: "2";
}

.progress__item:nth-child(3)::before {
	content: "3";
}

.progress__item:nth-child(4)::before {
	content: "4";
}

.progress__triangle {
	position: absolute;
	right: -68px;
	z-index: 100;
	border-style: solid;
	border-width: 0 50.5px 39px;
	border-color: transparent transparent var(--bg-color-secondary) transparent;
	width: 0;
	height: 0;
	transform: rotate(90deg);
}

.progress__triangle-border {
	position: absolute;
	right: -69px;
	border-style: solid;
	border-width: 0 50.5px 39px;
	border-color: transparent transparent #e5e5e5;
	width: 0;
	height: 0;
	transform: rotate(90deg);
}

.progress__item--active {
	background-color: var(--orange-color);
}

.progress__item--active .progress__triangle {
	border-color: transparent transparent var(--orange-color) transparent;
}
